// This stylesheet is used to style the settings page of the plugin.
.yak-success,
.yak-failed {
	color: red;
	padding-left: 40px;
}

.yak-success {
	color: green;
}

.yak-settings-wrap {
	max-width: 1280px;
}

.yak-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 80px;
}

.yak-row img {
	max-width: 250px;
	margin-right: 40px;
	filter: contrast(0.9);
}

.yak-content {
	max-width: calc(100% - 290px);
}

.yak-content h2 {
	font-size: 28px;
	margin-bottom: 14px;
}

.yak-content p {
	font-size: 14px;
}

.yak-content p.yak-small {
	font-size: 12px;
}

.yak-content p.yak-small a {
	text-decoration: none;
}

.yak-content p.yak-small a:hover {
	text-decoration: underline;
}

.yak-button {
	display: inline-block;
	font-size: 12px;
	line-height: 2.15384615;
	min-height: 28px;
	margin: 5px 10px 5px 0;
	padding: 0 10px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
	background: #007cba;
	border-color: #007cba;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}

.yak-button:hover {
	background: #0071a1;
	border-color: #0071a1;
	color: #fff;
}

.yak-button.yak-reset {
	background: #ee4000;
	border-color: #ee4000;
}

.yak-button.yak-reset:hover {
	background: #bb4000;
	border-color: #bb4000;
}

.yak-report {
	display: none;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	border: 2px solid #fe6728;
	width: 100%;
	border-radius: 4px;
	padding: 20px 40px 40px;
	text-align: left;
	margin-top: 40px;
	background: #ffffff;
}

.yak-report-row {
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
}

.yak-report h2 {
	margin-top: 20px;
}

.yak-report .yak-small {
	width: calc(100% - 300px);
	margin-left: 40px;
	font-size: 12px;
}

h4.yak-status {
	margin: 10px 0;
	width: 200px;
	text-align: left;
}

.yak-form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}

.yak-form label {
	width: 35%;
}

.yak-form input[type="text"],
.yak-form input[type="password"] {
	width: 50%;
	margin-bottom: 10px;
}

.yak-form button {
	width: 200px;
	margin-top: 14px;
}

.yak-show {
	display: flex !important;
}

p.submit {
	display: none;
}

@media screen and (max-width: 840px) {
	.yak-content {
		width: 100%;
		max-width: 100%;
	}

	.yak-form label {
		width: 100%;
		font-weight: 700;
	}

	.yak-form input[type="text"],
	.yak-form input[type="password"] {
		width: 100%;
	}

	.yak-report .yak-small {
		width: 100%;
		margin: 10px 0;
	}
}

.yak-error-message {
	font-size: 16px;
	color: #ff4f00;
}
